.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links li {
    margin: 1rem;
  }
  
  .nav-links a {
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem;
  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    background: #edf5eb;
    border-color: #292929;
    border-radius:10px ;
    color: #292929;
  }
  
  .nav-links button {
    cursor: pointer;
    border: 1px solid #ece9e9;
    color: #eeeaea;
    background: transparent;
    padding: 0.5rem;
    font: inherit;

  }
  
  .nav-links button:focus {
    outline: none;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #edf5eb;
    border-color: #292929;
    color: #292929;
  }
 .nav-links .delete {
      cursor: pointer;
      border: 1px solid #e93f3f;
      color: #e6dfdf;
      background: transparent;
      padding: 0.5rem;
      font: inherit;

  }
  .nav-links .delete button:focus {
    outline: none;
  }
  
  .nav-links .delete:hover,
  .nav-links .delete:active {
    background: #ec3535;
    color: rgb(238, 236, 236);
  }

  
  @media (min-width: 768px) {
    .nav-links {
      flex-direction: row;
    }
  
    .nav-links li {
      margin: 0 0.5rem;
      
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .button a {
      color: white;
      text-decoration: none;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  
    .nav-links button {
      border: 1px solid white;
      color: white;
      background: transparent;
    }
    
    .nav-links button:hover,
    .nav-links button:active {
      background: #fcfcf9;
      color: #292929;
    }
    .nav-links .delete {
      border: 1px solid rgb(236, 83, 83);
      color: rgb(253, 251, 251);
      background: transparent;
    }
    
    .nav-links .delete:hover,
    .nav-links .delete:active {
      background: #df3232;
      color: #f7f5f5;
    }
    
  }